body {
  font-family: Raleway;
}

* {
  box-sizing: border-box;
}

/* Create a column layout with Flexbox */
.row {
  display: flex;
}

/* Left column (menu) */
.left {
  flex: 35%;
  padding: 2vw 0 17vw 0;
}

.left h2 {
  padding-left: 8px;
}

/* Right column (page content) */
.right {
  flex: 65%;
  padding: 3vh;
}

/* Style the search box */
#mySearch {
  width: 100%;
  font-size: 18px;
  padding: 2vh;
  border: 1px solid #ddd;
}

/* Style the navigation menu inside the left column */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 2vh;
}

#myMenu li a {
  padding: 12px;
  text-decoration: none;
  color: black;
  display: block
}

#myMenu li a:hover {
  background-color: #eee;
}

.img {
  margin: 0 0;
  padding: 2% 2%;
  width: 20%;
}

hr {
  display: block;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  border-style: solid;
}